body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-color: #F5F8FA;
}

h1 {
 font-size: 100px;
}
input, .btn {
    margin: 20px 10px;
}

.message {
    background-color: #FFFFFF;
    width: 75%;
    padding: 15px 40px;
    border-radius: 20px;
    margin: 20px auto;
    font-family: 'Raleway', sans-serif;
    border: solid 2px #eee;
    text-align: left;
}

.username {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.username:hover {
    cursor: pointer;
    color: #59ADEE;
}

.time {
    float: right;
}

.currentUser {
    padding: 0 20px;
    /*border: solid 5px #eee;*/
    /*margin: 50px;*/
}

img {
width: 200px; 
height: 200px;
border-radius: 200px; 
display: center;
}

.form-control {
    width: 50%;
    margin: 0 auto;
}

.input-group {
    margin-left: 120px;
    margin-right: 120px;
}
.rooms {
    font-size: 20px;
    font-weight: 900;
}
.lower-main {
    margin-top: 50px;
}

.friended {
    color: #59ADEE;
}
